/* Ravenant Light Theme v0.1 by Balthazar Rouberol, @BaltoRouberol */

/*Dark Adium theme V0.1b by Pritthish Chakraborty  http://twitter.com/pritthish
Ported from Light v1.7 for Bluebird by NaWong  http://nadesign.net

Based on Ravenant theme http://www.adiumxtras.com/index.php?a=xtras&xtra_id=6766 and Ubuntu Dust theme for GTK+.
Created by Krzysztof Klinikowski <kkszysiu@gmail.com> http://grom.jabbim.pl/
*/

/*Global Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	font-family: 'Tahoma';
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:12px;
	font-family:inherit;
	vertical-align:baseline;
}

:focus{
	outline:0;
}

body{
	font-family: 'Tahoma';
	background-color: #F6F6F6;
	margin: 0;
	padding: 0;
	
}

a:link, a:visited {
	color: #fff;
	/**font-weight: bold; **/
	text-decoration: underline;
}

a:hover {
	color: #fff;
	/*font-weight: bold;*/
	text-decoration: none;
}

/*Misc Stuff*/

.message{
	position:relative;
	margin:0;
	padding:0;
}

.message.fade{
	opacity:.50;
}

.message .wrapper{
	padding:1px 0;
}

.message .inner{
	position:relative;
	padding:.01em 0px .01em;
}

.message .text,
.status .text{
	margin:0 35px 0 0px;
	padding:0;
	border:0;
}

.message .time,
.status .time{
	width:62px;
	margin:0;
	padding:0 0 0 4px;
	position:absolute;
	top:0em;
	right:-30px;
	background:transparent;
}

.sender {
	font-weight: bold;
	text-shadow:0px 1px 0px #fff;

}

/*Status Messages*/

div.status{
	position:relative;
	margin-bottom: 12px;
	margin-top: 6px;
	margin-left: 12px;
	margin-right: 12px;
	padding-top: 4px;
	padding-bottom: 4px;
	z-index:200;
	border: none;
	background: url(img/status.png) 0 0 repeat-x;	
	color:#fff;
	font-size:12px;
	font-family: 'Tahoma';
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 1px 3px #111111;
	/*text-shadow: 0px 1px 0px #3671ad;*/
	text-align: center;
}
.status a:link, .status a:visited, .status a:hover {
	color: #fff;
	text-shadow: none;
}
.status i{
	color:#e7e7e7;
}

/* Avatars */
.avatar {
	width: 40px;
	height: 40px;
	margin-left: 12px;
	margin-top: 1px;
	float: left;
	-webkit-box-shadow: 0px 1px 3px #333333;
}

.avatar img {
	width: 40px;
	border-style: none;
	-webkit-mask-image:url('mask_avatar.png');
	z-index:300;
	-webkit-border-radius: 4px;
}

.nick {
	color:#FFFFFF;
	text-shadow: 0px 1px 0px #484848;
}

/*Incoming Messages*/
.in{
	z-index:300;
	color:#000000;
	margin: 12px 12px 12px 62px;
	padding: 8px 12px;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 1px 3px #111111;
	border-top: 1px solid #6D6861;
	min-height: 22px;
	text-shadow: rgba(0,0,0,0.3) 0 -1px 0;
	background: -webkit-gradient(linear, left top, left bottom, from(#e0dcd5), color-stop(0.8,#cdc2b4));
	position:relative;
	-webkit-transition-duration: 0.5s;
}

.in .time{
	color:#333333;
	text-shadow: 0px 1px 0px #FFFFFF;
	font: 0.6em;
	right: -30px;
}

